<!doctype html>
<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
<p style="text-align:center;"><img src="static\uploads\uniLogo.PNG"alt="c" class="center"></p>
<body style="background-color:powderblue;"></body>
<title>Python Flask Image Upload and Display Example</title>
<h1 style="color: rgb(238, 26, 107);">Final Year Project DeploymentV2</h1>
<h2 style="color: #256157;"Student Name: Tan Junjie</h2>
<h2 style="color: rgb(101, 36, 221);">Student ID: S10194217H</h2>
<h2 style="color: rgb(185, 29, 216);">Supervisors: Dr Li Yan & Dr Chua Kuang Chua</h2>
<h2>Select an image to upload and display</h2>
<h1>YoloX Model Prediction:</h1>
<p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</p>
{% if filename %}
    <div>
        <img src="{{ url_for('display_image', filename=filename) }}">
    </div>
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Submit">
    </p>
</body>
</html>
</form>

